<!-- FormPrefix --><?= $f_AdminCommon; ?>
<h2 class="main__need-help_title"><?= $section=='left' ? 'Они ищут дом' : 'Им нужна помощь' ?></h2>
<div class="<?= $section=='left' ? 'main__need-help_catch_slider':'main__need-help_help_slider' ?>">
    <div class="<?= $section=='left' ? 'main__need-help_catch_slides slider-for' : 'main__need-help_help_slides slider-to' ?>"><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<?
$nav .= "<div><img src='/pic.php?w=117&h=117&file=$f_image' alt='' /></div>";
?>
<div data-slide="<?= $f_RowNum + 1 ?>">
  <img src="/pic.php?w=275&h=275&file=<?= $f_image ?>" alt="" class="main__need-help_img" />
  <div class="main__need-help_desc">
    <p>
        <?= $f_preview ?>
    </p>
    <span>Далее>></span>   
  </div>
</div><!-- /RecordTemplate -->

<!-- FormSuffix --></div>
<div class="<?= $section=='left' ? 'main__need-help_direct slider-nav':'main__need-help_direct slider-on' ?>">
  <?= $nav ?>
</div>
</div><!-- /FormSuffix -->