<?= $f_AdminCommon; ?>
<h2 class="main__need-help_title"><?= $section=='left' ? 'Они ищут дом' : 'Им нужна помощь' ?></h2>
<div class="<?= $section=='left' ? 'main__need-help_catch_slider':'main__need-help_help_slider' ?>">
    <div class="<?= $section=='left' ? 'main__need-help_catch_slides slider-for' : 'main__need-help_help_slides slider-to' ?>">