<!-- FormPrefix -->
<!-- /FormPrefix -->

<!-- RecordTemplate --><div class="news-preview">
  <div class="date"><?= $f_Date_day . "." . $f_Date_month . "." . $f_Date_year; ?></div>
  <a class="title" href="<?= $fullLink; ?>"><?= $f_NewsTitle; ?></a>
  <div class="description"><?= nc_edit_inline('Announce', $f_RowID, $cc); ?></div>
</div><!-- /RecordTemplate -->

<!-- FormSuffix -->
<!-- /FormSuffix -->