%Header
<body>

  <? if ($template_settings['useHeader']): ?>
  <header>
    <a class="logo" href="/"><img src="<?= $template_settings['logotype']['path']; ?>" alt="">
      <div class="text">
        <div class="lt1"><?= $template_settings['text-logo']; ?></div>
      </div>
    </a>

    <div class="contacts">
      <div class="address">
        <?= $template_settings['address']; ?>
      </div>
      <div class="phone"><?= $template_settings['phone_1']; ?>
        <? if ($template_settings['useCallback']): ?><div class="callback">
          <a href="" class="pseudo">Обратный звонок</a>
        </div><? else: ?><? endif ?>
      </div>
      <div class="clear"></div>
    </div>
  </header>
  <? else: ?>
  <? endif ?>
  
  <? if ($template_settings['useTopMenu']): ?>
  <menu>
    <?= nc_browse_sub(0, $browse_left_menu); ?>
  </menu>
  <? else: ?>
  <? endif ?>

  
  <section>
    <? if ($template_settings['useSidebar']): ?>
    <div class="left-column">
      <? if ($template_settings['useSideMenu']): ?><div class="submenu">
        <?= nc_browse_sub(0, $browse_left_menu); ?>
      </div><? else: ?><? endif ?>
      
      <? if ($template_settings['useSideNews']): ?><h2><?= $template_settings['news_title']; ?></h2>
      <?= $template_settings['news_sub_class'] ? nc_objects_list(0, $template_settings['news_sub_class'], "nc_title=1&recNum=3") : ''; ?><? else: ?><? endif ?>
    </div>
    <? else: ?>
    <? endif ?>

    <div class="main">