<!-- Header -->%Header
<div class="main__slider">
                <div class="container">
                    <div class="row">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                            <span class="sr-only">Информация</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                          <ul class="main__menu nav navbar-nav">
                            <li class="main__menu_item">
                                <a href="/about/" title="" class="main__menu_link">О Фонде</a>
                            </li>
                            <li class="main__menu_item">
                                <a href="#" title="" class="main__menu_link">Отчеты</a>
                            </li>
                            <li class="main__menu_item">
                                <a href="#" title="" class="main__menu_link">Новости</a>
                            </li>
                            <li class="main__menu_item">
                                <a href="#" title="" class="main__menu_link">Контакты</a>
                            </li>
                            <li class="main__menu_item">
                                <a href="#" title="" class="main__menu_link">Договор</a>
                            </li>
                            <li class="main__menu_item">
                                <a href="#" title="" class="main__menu_link">Акции</a>
                            </li>
                            <li class="main__menu_item">
                                <a href="#" title="" class="main__menu_link">Вопросы и ответы</a>
                            </li>
                          </ul>
                        </div>
                    </div>
                    <!-- слайдер -->
                    <?= nc_objects_list(5,10) ?>
                    <!-- слайдер -->
                    <div class="row main__slider_buttons">
                        <div class="col-sm-6 col-xs-6">
                            <a href="/want-help/" title="" class="main__slider_btn btn btn_yellow">Хочу помочь</a>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <a href="#" title="" class="main__slider_btn btn btn_orange">Мне нужна помощь</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__need-help">
                <div class="container">
                    <div class="row">
                        <div class="main__need-help_catch col-lg-6">
                            <?= nc_objects_list(11,11,"&nc_ctpl=122&section=left") ?>
                        </div>
                        <div class="main__need-help_help col-lg-6">
                            <?= nc_objects_list(11,11,"&nc_ctpl=122&section=right") ?>
                        </div>
                    </div>
                </div>
                <h2 class="main__map_title">Карта добрых дел</h2>
            </div>
            <div class="main__map" id="map">
                <div class="container">
                    <div class="row">
                        <div class="main__map_info">
                            <h3>Москва</h3>
                            <p>Оказана помощь на 1,2 млн. рублей</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__social">
                <h2 class="main__social_title">Присоединяйтесь к нам в соцсетях!</h2>
                <div class="main__social_vidgets container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div id="vk_groups"></div>
                            <script type="text/javascript">
                                VK.Widgets.Group("vk_groups", {mode: 4, width: "300", height: "400"}, 128442740);
                            </script>
                        </div>
                        <div class="col-sm-6">
                            <div class="fb-page" data-href="https://www.facebook.com/thecatindahause/?fref=st" data-tabs="timeline" data-width="300" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                <blockquote cite="https://www.facebook.com/thecatindahause/?fref=st" class="fb-xfbml-parse-ignore">
                                    <a href="https://www.facebook.com/thecatindahause/?fref=st">Кошкин Дом</a>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /Header -->

<!-- Footer -->%Footer<!-- /Footer -->