</section>        
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer__logo col-lg-3 col-sm-4">
                        <a href="#" title="" class="footer__logo_link">
                            <img src="/web/images/logo.png" alt="" class="footer__logo_img" />
                        </a>
                    </div>
                    <div class="footer__copyright col-lg-6 col-sm-5">
                        <p class="footer__copyright_text">(с) БФПЖ «Всем Миром», <?= date('Y') ?>.</p>
                        <p class="footer__copyright_text">При копировании любой информации ссылка на сайт обязательна.</p>
                        <a href="#" title="" class="footer__copyright_link">Публичная оферта</a>
                    </div>
                    <div class="footer__phones col-lg-3 col-sm-3">
                        <a href="tel:+79672818401" title="">+7 (967) 281 - 84 - 01</a>
                        <a href="tel:+79778160405" title="">+7 (977) 816 - 04 - 05</a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
