<? 
$browse_left_menu[1]['prefix'] = "<ul>";
$browse_left_menu[1]['suffix'] = "</ul>";
$browse_left_menu[1]['active'] = "<li class='active'><a href='%URL'>%NAME</a></li>";
$browse_left_menu[1]['active_link'] = "<li class='active'><a href='%URL'>%NAME</a></li>";
$browse_left_menu[1]['unactive'] = "<li><a href='%URL'>%NAME</a></li>";


$browse_left_menu[0]['prefix'] = "<ul>";
$browse_left_menu[0]['suffix'] = "</ul>";
$browse_left_menu[0]['active'] = "<li class='active_li'><a href='%URL'>%NAME</a>%NEXT_LEVEL</li>";
$browse_left_menu[0]['active_link'] = "<li class='active_li'><a href='%URL'>%NAME</a>%NEXT_LEVEL</li>";
$browse_left_menu[0]['unactive'] = "<li><a href='%URL'>%NAME</a>%NEXT_LEVEL</li>";


// хлебные крошки
$browse_path['prefix'] = "<div id='trail'>";
$browse_path['suffix'] = "</div>";
$browse_path['active'] = "<a href='%URL'>%NAME</a> ";
$browse_path['active_link'] = "<span>%NAME</span> ";
$browse_path['unactive'] = "<a href='%URL'>%NAME</a> ";
$browse_path['divider'] = " / ";


// хлебные крошки для тайтла
$browse_path_title['active'] = "%NAME ";
$browse_path_title['active_link'] = "%NAME";
$browse_path_title['unactive'] = "%NAME";
$browse_path_title['divider'] = " / ";

// шаблон вывода навигации по страницам
$browse_msg['prefix'] = "";
$browse_msg['suffix'] = "";
$browse_msg['active'] = "<b>%PAGE</b>";
$browse_msg['unactive'] = "<a href=%URL>%PAGE</a>";
$browse_msg['divider'] = " | ";

// Тема оформления: может быть передана через cookie, get-параметр (для Store) или взята из настроек шаблона
if (strpos($_SERVER["SERVER_NAME"], ".store.sitemanager.ru")) {
    $tpl_theme = $nc_core->input->fetch_get('tpl_theme');
    if (preg_match("/^[\\w-]+$/", $tpl_theme)) { setcookie('tpl_theme', $tpl_theme, time()+60*60*24*365, '/'); }
    else { $tpl_theme = $nc_core->input->fetch_cookie('tpl_theme'); }
    if (!preg_match("/^[\\w-]+$/", $tpl_theme)) { $tpl_theme = null; }
}
else {
    $tpl_theme = null;
}
$tpl_theme = $tpl_theme ? $tpl_theme : $template_settings['theme'];
?>