%Header
<div class="main__docs_fond">
        <div class="container">
            <div class="row main__docs_fond_scroll-menu">
                <ul>
                    <li>
                        <a href="#docs_fond">Документы</a>
                    </li>
                    <li>
                        <a href="#annual_reports">Отчеты</a>
                    </li>
                    <li>
                        <a href="#our_team">Команда</a>
                    </li>
                    <li>
                        <a href="#history_fond">История</a>
                    </li>
                    <li>
                        <a href="#contacts_requisites">Контакты и реквизиты</a>
                    </li>
                </ul>
            </div>
            <div class="row" id="docs_fond">
                <div class="col-xs-12">
                    <h2>Документы фонда</h2>
                </div>
            </div>
            <div class="row main__docs_fond_links">
                <?= nc_objects_list(12,12,"&nc_ctpl=125") ?>
            </div>    
            <div class="row main__docs_fond-pdf">
                <div class="col-xs-12">
                    <?= nc_objects_list(12,12,"&nc_ctpl=125&type=1") ?>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="main__annual-reports_wrap" id="annual_reports">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Отчеты</h2>
                </div>
            </div>
            <div class="row main__annual-reports">
                <div class="col-sm-4 col-xs-12 main__annual-report">
                    <h3>Расходы</h3>
                    <ul>
                        <li>
                            <a href="#" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                        <li>
                            <a href="/web/2.pdf" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12 main__annual-report">
                    <h3>Приходы</h3>
                    <ul>
                        <li>
                            <a href="#" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12 main__annual-report">
                    <h3>SMS</h3>
                    <ul>
                        <li>
                            <a href="#" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="/web/images/doc_icon.png" alt="" />
                                <span>Декабрь 2016 года</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row main__annual-reports-pdf">
                <div class="col-xs-12">
                    <a href="#" title=""><img src="images/doc_icon.png" alt="" /><span>Годовой отчет фонда (2016 год)</span></a>
                    <a href="#" title=""><img src="images/doc_icon.png" alt="" /><span>Годовой отчет фонда (2017 год)</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="main__our-team_wrap" id="our_team">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Наша команда</h2>
                </div>
            </div>
            <div class="row main__our-team">
                <div class="col-md-4 col-sm-6 col-xs-12" data-team-person="1">
                    <div class="main__our-team_person">
                        <img src="/web/images/team_person_1.jpg" alt="team_person" />
                        <div>
                            <p class="main__our-team_name">Анна Столярова</p>
                            <p class="main__our-team_job">Учредитель и Президент Фонда <span>+ 7 (967) 281-84-01</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" data-team-person="2">
                    <div class="main__our-team_person">
                        <img src="/web/images/team_person_2.jpg" alt="team_person" />
                        <div>
                            <p class="main__our-team_name">Юлия Ткаченко</p>
                            <p class="main__our-team_job">Учредитель и Председатель Совета Фонда <span>+ 7 (977) 816-04-05</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" data-team-person="3">
                    <div class="main__our-team_person">
                        <img src="/web/images/team_person_3.jpg" alt="team_person" />
                        <div>
                            <p class="main__our-team_name">Светлана Ткаченко</p>
                            <p class="main__our-team_job">Председатель Правления Фонда, <span>член Попечительского Совета Фонда, волонтер</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" data-team-person="4">
                    <div class="main__our-team_person">
                        <img src="/web/images/team_person_4.jpg" alt="team_person" />
                        <div>
                            <p class="main__our-team_name">Лидия Николаева</p>
                            <p class="main__our-team_job">ведущий волонтер Фонда,  опытный
                                <span>куратор, основной координатор программ</span>
                                <span>по Москве и Московской области</span>
                                <span>+ 7 (906) 747-54-04</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" data-team-person="5">
                    <div class="main__our-team_person">
                        <img src="/web/images/team_person_5.jpg" alt="team_person" />
                        <div>
                            <p class="main__our-team_name">Елена Федонина</p>
                            <p class="main__our-team_job">волонтер Фонда,  опытный куратор,
                                <span>один из координаторов программ по Москве</span>
                                <span>и Московской области</span>
                                <span>+ 7 (903) 007-50-02</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" data-team-person="6">
                    <div class="main__our-team_person">
                        <img src="/web/images/team_person_6.jpg" alt="team_person" />
                        <div>
                            <p class="main__our-team_name">Наталья Кажанова</p>
                            <p class="main__our-team_job">волонтер, куратор с большим опытом,
                                <span>руководитель частного мини-приюта "Мурзилка",</span>
                                <span>координатор программ по Волгограду</span>
                                <span>и Волгоградской области</span>
                                <span>+ 7 927 517 20 74</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main__history-fond_wrap" id="history_fond">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>История фонда</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="main__contacts-requisites_wrap" id="contacts_requisites">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Контакты и реквизиты</h2>
                </div>
            </div>
            <div class="row main__contacts-requisites">
                <div class="col-sm-6 col-xs-12 main__contacts">
                    <div>
                        <p class="title">Юридический и почтовый адрес:</p>
                        <p>127254, Россия, г.Москва, ул. Руставели, д. 3, корп. 5.</p>
                    </div>
                    <div>
                        <p class="title">Телефоны:</p>
                        <a href="tel:+79672818401">+7 (967) 281-84-01</a>
                        <a href="tel:+79778160405">+7 (977) 816-04-05</a>
                    </div>
                    <div>
                        <p class="title">E-mail:</p>
                        <a href="mailto:vsemmirom@fond-vsem-mirom.ru">vsemmirom@fond-vsem-mirom.ru</a>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 main__requisites">
                    <div>
                        <p><span class="title">КПП Получателя:</span> 771501001</p>
                        <p><span class="title">ИНН Получателя:</span> 9715258950</p>
                        <p><span class="title">Р/С:</span> № 40703810038000005112 в Московском банке ПАО Сбербанк</p>
                        <p><span class="title">БИК Банка:</span> 044525225</p>
                        <p><span class="title">Кор. счет Банка:</span> № 30101810400000000225 в ГУ Банка России по ЦФО</p>
                    </div>
                </div>
            </div>
        </div>
    </div>