* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 35px;
  line-height: 38px;
  padding: 0 0 15px 0;
}
h2 {
  font-size: 23px;
  line-height: 28px;
  padding: 0 0 15px 0;
}
a {
  padding-top: 0.6em;
}
a {
  color: #0072ba;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,114,186,0.5);
  transition: 0.4s ease;
}
a.pseudo {
  border-bottom-style: dashed;
}
a:hover,
a.hover {
  color: #d04000;
  border-color: rgba(208,64,0,0.5);
  transition: 0s ease;
}
a.dark,
section .left-column .submenu li a,
.tpl-theme-sun body > menu a,
.tpl-theme-sun body > footer .one a,
.tpl-theme-sun body > footer a,
.tpl-theme-sand body > menu a,
.tpl-theme-sand body > footer .one a,
.tpl-theme-sand body > footer a {
  color: #000;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}
a.dark:hover,
section .left-column .submenu li a:hover,
.tpl-theme-sun body > menu a:hover,
.tpl-theme-sun body > footer .one a:hover,
.tpl-theme-sun body > footer a:hover,
.tpl-theme-sand body > menu a:hover,
.tpl-theme-sand body > footer .one a:hover,
.tpl-theme-sand body > footer a:hover,
a.dark.hover,
section .left-column .submenu li a.hover,
.tpl-theme-sun body > menu a.hover,
.tpl-theme-sun body > footer .one a.hover,
.tpl-theme-sun body > footer a.hover,
.tpl-theme-sand body > menu a.hover,
.tpl-theme-sand body > footer .one a.hover,
.tpl-theme-sand body > footer a.hover {
  color: #d04000;
  border-color: rgba(208,64,0,0.5);
  transition: 0s ease;
}
a.lite,
menu li a,
footer a {
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}
a.lite:hover,
menu li a:hover,
footer a:hover,
a.lite.hover,
menu li a.hover,
footer a.hover {
  color: #f2f201 !important;
  border-color: rgba(242,242,1,0.5) !important;
  transition: 0s ease;
}
a:visited.hover {
  color: #d04000;
  border-color: rgba(208,64,0,0.5);
  transition: 0s ease;
}
ul,
li {
  list-style: none;
}
p.lead {
  font-size: 17px;
  line-height: 22px;
}
.clear {
  clear: both;
}
.nc-navbar a {
  border: none;
}
.nc_datetime {
  color: rgba(0,0,0,0.5);
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  padding: 10px 0 5px 0;
}
body {
  text-size-adjust: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: #fff;
  font-size: 14px;
  line-height: 20px;
  width: auto;
  max-width: 1250px;
  margin: 0 auto 0 auto;
  padding: 35px 40px 50px 40px;
}
@media screen and (max-width: 620px) {
  #  position relative {
    padding: 35px 20px 50px 20px;
  }
}
header {
  display: block;
  margin: 0 0 20px 0;
  position: relative;
}
@media screen and (max-width: 620px) {
  header {
    padding: 0;
  }
}
header .left-column {
  min-width: 300px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}
@media screen and (max-width: 1100px) {
  header .left-column {
    max-width: 220px;
    width: 220px;
    min-width: 220px;
  }
}
@media screen and (max-width: 620px) {
  header .left-column {
    position: relative;
  }
}
header .logo {
  border: none;
  color: #000 !important;
  font-size: 0;
}
header .logo img {
  display: inline-block;
  vertical-align: top;
  height: 85px;
  border: none;
  outline: none;
  margin: 0 20px 15px 0;
}
header .logo .text {
  display: inline-block;
  vertical-align: top;
  font-size: 23px;
  line-height: 25px;
  padding: 3px 0 0 0px;
  font-weight: bold;
  max-width: 300px;
}
header .logo .text .lt2,
header .logo .text .lt3 {
  font-size: 23px;
  line-height: 25px;
}
header .contacts {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 280px;
}
@media screen and (max-width: 750px) {
  header .contacts {
    position: relative;
    max-width: 100%;
    padding: 0 0 0 40px;
  }
}
header .contacts .phone {
  margin: 10px 0 0 0;
  font-size: 20px;
  white-space: nowrap;
  line-height: 28px;
}
header .contacts .phone .callback {
  font-size: 14px;
  line-height: 20px;
}
menu {
  font-size: 0;
  margin: 0 0 50px 0;
  color: #fff;
  padding: 20px 40px 7px 40px;
  border-radius: 4px;
  background: #1b5576;
  background-image: linear-gradient(-180deg, #3d7ea3 0%, #1b5576 100%);
}
menu li {
  display: inline-block;
  font-size: 19px;
  padding: 0;
  margin: 0 25px 15px 0;
}
menu li.active_li a {
  border: none;
  cursor: default;
  color: rgba(255,255,255,0.61) !important;
  transition: 0s ease;
}
.promo {
  display: block;
  border-radius: 4px;
  position: relative;
  width: auto;
  height: 360px;
  margin: 0 0 50px 0;
  background-size: cover;
  background-position: center center;
  border: none;
  z-index: 50;
  transition: 0.5s;
}
@media screen and (max-width: 620px) {
  .promo {
    display: block;
    height: 300px;
    margin: 20px 0 50px 0;
  }
}
.promo span {
  display: block;
  position: absolute;
  max-width: 700px;
  bottom: 40px;
  right: -20px;
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  padding: 19px 50px 21px 30px;
  background: #1b5576;
  background-image: linear-gradient(-180deg, #3d7ea3 0%, #1b5576 100%);
  border-radius: 4px 0 0 4px;
}
@media screen and (max-width: 900px) {
  .promo span {
    font-size: 20px;
    line-height: 25px;
    max-width: 400px;
  }
}
@media screen and (max-width: 750px) {
  .promo span {
    width: 100%;
    max-width: 100%;
    left: 0;
    bottom: 0;
    font-size: 18px;
    line-height: 21px;
  }
}
.promo span .label {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  bottom: -20px;
  background-image: url("../img/m.png");
  background-size: 20px;
  background-repeat: no-repeat;
}
section {
  display: block;
  position: relative;
  height: auto;
}
@media screen and (max-width: 620px) {
  section {
    display: block;
  }
}
section .left-column {
  min-width: 300px;
  width: 300px;
  max-width: 300px;
  position: relative;
  float: left;
  left: 0;
  top: 0;
  z-index: 100;
}
@media screen and (max-width: 1100px) {
  section .left-column {
    max-width: 220px;
    width: 220px;
    min-width: 220px;
  }
}
@media screen and (max-width: 620px) {
  section .left-column {
    width: 100%;
    position: relative;
    max-width: 100%;
    padding: 0 0 40px 0;
    float: none;
  }
}
section .left-column .submenu {
  padding: 0 0 50px 0;
}
section .left-column .submenu li {
  display: block;
  font-size: 19px;
  padding: 0;
  margin: 0 25px 15px 0;
}
section .left-column .submenu li.active_li a {
  border: none;
  cursor: default;
  color: #d04000;
}
section .main {
  position: relative;
  width: auto;
  overflow: hidden;
  z-index: 50;
}
@media screen and (max-width: 620px) {
  section .main {
    margin: 0;
  }
}
section .main .text {
  margin: 0 0 37px 0;
}
section .main .text img {
  max-width: 100%;
  margin: 10px 0 15px 0;
}
section .main .text p {
  padding: 0 0 13px 0;
}
.news-preview {
  padding: 0 30px 30px 0;
}
@media screen and (max-width: 620px) {
  .news-preview {
    padding-bottom: 15px;
  }
}
.news-preview .date {
  color: rgba(0,0,0,0.5);
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  padding: 0 0 5px 0;
}
.news-preview .title {
  font-size: 16px;
  line-height: 22px !important;
}
.news-preview .description {
  padding: 7px 0 0 0;
}
@media screen and (max-width: 620px) {
  .news-preview .description {
    display: none;
    border: 0;
  }
}
.products {
  padding: 5px 0 0 0;
  font-size: 0;
}
.product-preview {
  width: 30%;
  padding: 0 0 30px 0;
  margin: 0 0 0 5%;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 20px;
}
.product-preview:nth-child(3n+1) {
  margin-left: 0;
}
@media screen and (max-width: 900px) {
  .product-preview {
    width: 45%;
    margin: 0 0 0 10%;
  }
  .product-preview:nth-child(3n+1) {
    margin-left: 10%;
  }
  .product-preview:nth-child(2n+1) {
    margin-left: 0;
  }
}
@media screen and (max-width: 750px) {
  .product-preview {
    width: 100%;
    margin: 0 !important;
  }
}
.product-preview:nth-child(1) {
  margin: 0 0 0 0;
}
.product-preview a.image {
  border: none;
  padding: 0 0 10px 0;
  display: block;
}
.product-preview .title:after {
  content: ' ';
  display: block;
  width: 1px;
  height: 1px;
}
.product-preview img {
  max-width: 100%;
  border: none;
}
.product-preview .title {
  font-size: 16px;
  line-height: 22px !important;
}
.product-preview .description {
  padding: 7px 0 0 0;
}
.product-preview .price {
  font-weight: bold;
  display: inline-block;
  color: #d09900;
  border: 1px solid #d09900;
  height: 24px;
  line-height: 22px;
  padding: 0 8px 0 8px;
  border-radius: 4px;
  margin: 7px 0 0 0px;
}
.brend {
  padding: 15px 0 0 0;
  display: block;
}
.brend .list .title {
  font-size: 20px;
  line-height: 25px;
  padding: 0 0 8px 0;
}
.brend .list .one {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  padding: 0 0 30px 0;
}
@media screen and (max-width: 750px) {
  .brend .list .one {
    width: 100%;
    margin: 0 !important;
  }
}
.brend .list .one:nth-child(even) {
  margin: 0 0 0 5%;
}
footer {
  margin: 50px 0 0 0;
  color: #fff;
  padding: 20px 40px 25px 40px;
  border-radius: 4px;
  background: #1b5576;
  background-image: linear-gradient(-180deg, #3d7ea3 0%, #1b5576 100%);
}
footer .one {
  display: inline-block;
  width: 45%;
  padding: 0 0 10px 0;
  vertical-align: top;
}
@media screen and (max-width: 620px) {
  footer .one {
    display: block;
    width: 100%;
    padding: 0 0 23px 0;
  }
}
footer .one:nth-child(odd) {
  margin-right: 5%;
}
@media screen and (max-width: 900px) {
  footer {
    display: block;
    padding: 20px 40px 15px 40px;
  }
}
footer .phone {
  font-size: 20px;
  line-height: 28px;
}
Дополнение для текстовых страниц,
.mode_second {
  position: absolute;
}
@media screen and (max-width: 620px) {
  Дополнение для текстовых страниц,
  .mode_second {
    max-width: 500px;
    width: 500px;
    display: block;
  }
}
.good-page .grid {
  padding-bottom: 20px;
}
.good-page .grid .one {
  padding: 0;
}
.good-page .grid .one .price {
  font-size: 18px;
  height: 30px;
  line-height: 28px;
  margin-bottom: 10px;
}
.tpl-theme-table-price--tr td {
  padding: 5px 20px 5px 0;
}
.tpl-theme-table-price--tr td:last-child {
  padding-right: 0;
}
.tpl-theme-table--price h2 {
  padding: 15px 0 0;
}
.tpl-theme-azure body > menu {
  background: #1d62f0;
  background-image: linear-gradient(-180deg, #1ad6fd 0%, #1d62f0 100%);
}
.tpl-theme-azure body > slider .promo span {
  background-image: linear-gradient(-180deg, #1ad6fd 0%, #1d62f0 100%);
}
.tpl-theme-azure body > footer {
  background: #1d62f0;
  background-image: linear-gradient(-180deg, #1ad6fd 0%, #1d62f0 100%);
}
.tpl-theme-purple body > menu {
  background: #5856d6;
  background-image: linear-gradient(-180deg, #c644fc 0%, #5856d6 100%);
}
.tpl-theme-purple body > slider .promo span {
  background-image: linear-gradient(-180deg, #c644fc 0%, #5856d6 100%);
}
.tpl-theme-purple body > footer {
  background: #5856d6;
  background-image: linear-gradient(-180deg, #c644fc 0%, #5856d6 100%);
}
.tpl-theme-green body > menu {
  background: #27761b;
  background-image: linear-gradient(-180deg, #74bf56 0%, #27761b 100%);
}
.tpl-theme-green body > slider .promo span {
  background-image: linear-gradient(-180deg, #74bf56 0%, #27761b 100%);
}
.tpl-theme-green body > footer {
  background: #27761b;
  background-image: linear-gradient(-180deg, #74bf56 0%, #27761b 100%);
}
.tpl-theme-sun body > menu {
  background: #e8ba00;
  color: #000;
  background-image: linear-gradient(-180deg, #ffec9f 0%, #e8ba00 100%);
}
.tpl-theme-sun body > menu a:hover,
.tpl-theme-sun body > menu a.hover {
  color: #d04000 !important;
  border-color: rgba(208,64,0,0.5) !important;
  transition: 0s ease !important;
}
.tpl-theme-sun body > slider .promo span {
  color: #000;
  background-image: linear-gradient(-180deg, #ffec9f 0%, #e8ba00 100%);
}
.tpl-theme-sun body > footer {
  color: #000;
  background: #e8ba00;
  background-image: linear-gradient(-180deg, #ffec9f 0%, #e8ba00 100%);
}
.tpl-theme-sun body > footer .one a:hover,
.tpl-theme-sun body > footer .one a.hover {
  color: #d04000 !important;
  border-color: rgba(208,64,0,0.5) !important;
  transition: 0s ease !important;
}
.tpl-theme-sun body > footer a:hover,
.tpl-theme-sun body > footer a.hover {
  color: #d04000 !important;
  border-color: rgba(208,64,0,0.5) !important;
  transition: 0s ease !important;
}
.tpl-theme-scarlet body > menu {
  background: #ff2a68;
  background-image: linear-gradient(-180deg, #ff5e3a 0%, #ff2a68 100%);
}
.tpl-theme-scarlet body > slider .promo span {
  background-image: linear-gradient(-180deg, #ff5e3a 0%, #ff2a68 100%);
}
.tpl-theme-scarlet body > footer {
  background: #ff2a68;
  background-image: linear-gradient(-180deg, #ff5e3a 0%, #ff2a68 100%);
}
.tpl-theme-sand body > menu {
  background: #e4ddca;
  color: #000;
  background-image: linear-gradient(-180deg, #d6cec3 0%, #e4ddca 100%);
}
.tpl-theme-sand body > menu a:hover,
.tpl-theme-sand body > menu a.hover {
  color: #d04000 !important;
  border-color: rgba(208,64,0,0.5) !important;
  transition: 0s ease !important;
}
.tpl-theme-sand body > slider .promo span {
  color: #000;
  background-image: linear-gradient(-180deg, #d6cec3 0%, #e4ddca 100%);
}
.tpl-theme-sand body > footer {
  color: #000;
  background: #e4ddca;
  background-image: linear-gradient(-180deg, #d6cec3 0%, #e4ddca 100%);
}
.tpl-theme-sand body > footer .one a:hover,
.tpl-theme-sand body > footer .one a.hover {
  color: #d04000 !important;
  border-color: rgba(208,64,0,0.5) !important;
  transition: 0s ease !important;
}
.tpl-theme-sand body > footer a:hover,
.tpl-theme-sand body > footer a.hover {
  color: #d04000 !important;
  border-color: rgba(208,64,0,0.5) !important;
  transition: 0s ease !important;
}
