<!-- FormPrefix --><?= $f_AdminCommon; ?>
<div class="row">
<div class="main__slider_slider"><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<div data-slide="<?= $f_RowNum + 1 ?>">
  <img src="/pic.php?w=730&h=175&file=<?= $f_image ?>" alt="" />
</div><!-- /RecordTemplate -->

<!-- FormSuffix --> </div>
</div><!-- /FormSuffix -->