@font-face{
    font-family:PTSans;
    src:url('../fonts/PTSans-Regular.ttf'),
    url('../fonts/PTSans-Regular.woff');
}
@font-face{
    font-family:PTSans-Narrow;
    src:url('../fonts/PTSans-Narrow.ttf'),
    url('../fonts/PTSans-Narrow.woff');
}
@font-face{
    font-family:PTSans_Bold;
    src:url('../fonts/PTSans-Bold.ttf'),
    url('../fonts/PTSans-Bold.woff');
}
@font-face{
    font-family:PTSans_Caption_Bold;
    src:url('../fonts/PTSans-Caption-Bold.ttf'),
    url('../fonts/PTSans-Caption-Bold.woff');
}
@font-face{
    font-family:PTSans_Italic;
    src:url('../fonts/PTSans-Italic.ttf'),
    url('../fonts/PTSans-Italic.woff');
}

*{margin:0;padding:0;box-sizing:border-box;}
*[class*='col']{padding:0;}
a{text-decoration:underline;}
a:hover{text-decoration:none;}

.btn{display:inline-block;border:2px solid #fff;border-radius:10px;font-family:PTSans_Caption_Bold,sans-serif;font-size:22px;color:#fff;text-transform:uppercase;text-decoration:none;}
.btn:hover{color:#fff;}
.btn_yellow{background-color:#ff9c00;}
.btn_orange{background-color:#ff6c00;}

body{font:16px/16px PTSans;color:#000;}
h1{margin:0;padding:0;font:2.250em/100% PTSans_Bold;}
h2{margin:0;padding:0;font:2em/100% PTSans_Caption_Bold;}
h3{margin:0;padding:0;font:22px/100% PTSans_Caption_Bold;}

.want_help{position:fixed;left:-5px;top:275px;z-index:100;transition-duration:.2s;}
.want_help:hover{left:0;transition-duration:.2s;}

.main{padding-top:100px;}
.header{width:100%;height:100px;margin:0 auto;background:linear-gradient(3deg, #88a42d, #dacf3f);position:fixed;z-index:1000;}
.header__logo{display:inline-block;margin-top:12px;}
.header__logo_link{text-decoration:none;}
.header__logo_img{margin-right:10px;}
.navbar-collapse.collapse{/*display:inline-block!important;*/float:right;}
.header__menu{vertical-align:top;list-style:none;padding-top:64px;font-size:16px;line-height:1;text-align:right;}
.header__menu_item{display:inline-block;margin-left:25px;}
.header__menu_item:first-child{margin-left:0;}
.header__menu_link{font:1.625em/100% PTSans-Narrow;color:#fff;text-decoration:none;}
.navbar-nav>li>a.header__menu_link{padding:0;}
.nav>li>a:focus,
.nav>li>a:hover{background-color:transparent;text-decoration:underline;}
.navbar-nav>li>a.header__menu_link:hover,
.navbar-nav>li>a.header__menu_link:visited{background-color:transparent;text-decoration:underline;}
.navbar-nav>li>a.btn_yellow:hover,
.navbar-nav>li>a.btn_yellow:visited{background-color:#ff9c00;}
.navbar-nav>li>a.btn_orange:hover,
.navbar-nav>li>a.btn_orange:visited{background-color:#ff6c00;}
.header__menu_link:hover{color:#fff;text-decoration:underline;}
.header .navbar-toggle{border:1px solid #fff;padding:9px 10px;}
.header .navbar-toggle .icon-bar{background-color:#fff;}
.header .header__menu_item-bottom{display:none;}
.header__menu_item[data-menu_item="2"]{display:inline-block;}
.header__menu_item[data-menu_item="2"]{display:none;}

.header.header__scroll{height:75px;box-shadow:0 2px 3px 0px rgba(0,0,0,.3);}
.header.header__scroll .header__logo img{width:212px;height:auto;}
.header.header__scroll .header__menu{padding-top:30px;}
.header.header__button_show .header__menu_item[data-menu_item="1"]{display:none;}
.header.header__button_show .header__menu_item[data-menu_item="2"]{display:inline-block;}
.header__button_show .header__menu_item-bottom{display:inline-block;margin-top:-8px;}
.header__button_show .main__slider_btn{width:175px;height:34px;padding:0;line-height:30px;font-size:0.838em;}

.main__slider{height:340px;box-shadow:inset 0 0 191px 100px rgba(255,181,64,.35);}
.main__menu{margin:12px 0;text-align:right;}
.main__menu_item{display:inline-block;margin-right:15px;}
.main__menu_item:last-child{margin-right:0;}
.main__menu_link{font-family:PTSans_Italic,sans-serif;font-size:20px;color:#88a42d;text-decoration:none;}
.main__menu_link:hover{color:#88a42d;text-decoration:underline;}
.main__slider_slider .slick-slide img{margin:0 auto;}
.main__slider_slider .slick-prev,
.main__slider_slider .slick-next{height:44px;}
.main__slider_slider .slick-prev{left:100px;}
.main__slider_slider .slick-next{right:100px;}
.main__slider_slider .slick-prev:before,
.main__slider_slider .slick-next:before{line-height:44px;}
.main__slider_slider .slick-prev:before{content:url(../images/arrow_left_orange.png);}
.main__slider_slider .slick-next:before{content:url(../images/arrow_right_orange.png);}
.main__slider_buttons{padding-top:25px;}
.main__slider_buttons div[class*='col']:first-child{padding-right:22px;text-align:right;}
.main__slider_buttons div[class*='col']:last-child{padding-left:22px;}
.main__slider_btn{width:285px;height:56px;line-height:42px;}
.main__slider .navbar-toggle{border:1px solid #fff;margin:10px 0 0 0;padding:9px 10px;z-index:10;}
.main__slider .navbar-toggle .icon-bar{background-color:#fff;}
.navbar-nav>li.main__menu_item>a{padding:0;line-height:1;}


.main__need-help{padding:22px 0;background:url(../images/main_bg.png);text-align:center;}
.main__need-help_catch{padding-right:15px;}
.main__need-help_help{padding-left:15px;}
.main__need-help_title{display:inline-block;margin-bottom:10px;padding-left:35px;color:#88a42d;text-transform:uppercase;position:relative;}
.main__need-help_title:before{content:url(../images/lapa.png);position:absolute;left:0;top:50%;-ms-transform:translate(0,-50%);transform:translate(0,-50%);}
.main__need-help_catch_slider,
.main__need-help_help_slider{padding:10px;border-radius:20px;text-align:left;}
.main__need-help_catch_slider{background-color:#fdf8af;}
.main__need-help_help_slider{background-color:#ddf0a1;}
.slick-slide .main__need-help_img{display:inline-block;width:275px;height:275px;border-radius:20px;}
.main__need-help_desc{display:inline-block;width:50%;padding-left:8px;vertical-align:top;font-size:1.125em;line-height:1;}
.main__need-help_desc p{margin-bottom:0;line-height:1.2;}
.main__need-help_desc span{display:inline-block;font-family:PTSans_Italic,sans-serif;cursor:pointer;border-bottom:1px solid #000;}
.main__need-help_desc span:hover{border:none;}
.main__need-help_direct{margin-top:10px;padding:0 30px;}
.main__need-help_direct img{border-radius:20px;border:2px solid transparent;cursor:pointer;}
.main__need-help_direct .slick-current img{border:2px solid #88a42d;}
.main__map_title{display:inline-block;margin-top:58px;padding-left:45px;color:#88a42d;text-transform:uppercase;position:relative;text-align:center;}
.main__map_title:before{content:url(../images/map_icon.png);position:absolute;left:0;top:50%;-ms-transform:translate(0,-50%);transform:translate(0,-50%);}
.main__need-help_direct .slick-prev,
.main__need-help_direct .slick-next{height:36px;}
.main__need-help_direct .slick-prev{left:0;}
.main__need-help_direct .slick-next{right:0;}
.main__need-help_direct .slick-prev:before,
.main__need-help_direct .slick-next:before{line-height:36px;}
.main__need-help_direct .slick-prev:before{content:url(../images/arrow_left_green.png);}
.main__need-help_direct .slick-next:before{content:url(../images/arrow_right_green.png);}

.main__map{height:640px;border-top:3px solid #88a42d;border-bottom:3px solid #88a42d;}
.hint{display:inline-block;min-width:260px;padding:6px 12px;border:2px solid #fff;border-radius:10px;background-color:#ff9c00;font-size:18px;color:#fff;}
.hint h4{font-family:PTSans_Caption_Bold,sans-serif;font-size:1.375em;}

.main__map_info{display:inline-block;margin-top:20px;padding:10px 10px 15px;box-shadow:0 0 10px 0 rgba(0,0,0,.35);background-color:#ff6c00;border:3px solid #fff;border-radius:15px;color:#fff;text-align:center;position:absolute;z-index:1;}
.main__map_info h3{margin-bottom:6px;}
.main__map_info p{margin-bottom:0;font-size:1.125em;}

.main__social{padding:55px 0 70px;}
.main__social_title{margin-bottom:35px;color:#88a42d;text-transform:uppercase;text-align:center;}
.main__social_vidgets div[class*='col']:first-child{padding-right:22px;text-align:right;}
.main__social_vidgets div[class*='col']:last-child{padding-left:22px;}
#vk_groups{display:inline-block;}

.footer{height:110px;margin:0 auto;background:linear-gradient(3deg, #88a42d, #dacf3f);}
.footer__logo{margin-top:20px;}
.footer__logo_img{width:258px;}
.footer__copyright{margin-top:30px;padding-left:25px;}
.footer__copyright_text,
.footer__copyright_link{margin-bottom:0;font-size:.875em;color:#fff;}
.footer__copyright_link:hover{text-decoration:none;color:#fff;}
.footer__phones{margin-top:40px;text-align:right;}
.footer__phones a{display:block;font-size:1.125em;color:#fff;text-decoration:none;}
.footer__phones a:first-child{margin-bottom:5px;}


/*о фонде*/
.main__docs_fond{padding:20px 15px 0;background-color:#f9f3ca;}
.main__docs_fond h2{font-size:1.875em;display:inline-block;margin-bottom:40px;padding-left:55px;color:#88a42d;text-transform:uppercase;position:relative;}
.main__docs_fond h2:before{content:url(../images/lapa.png);position:absolute;left:15px;top:50%;-ms-transform:translate(0,-50%);transform:translate(0,-50%);}
.main__docs_fond_scroll-menu{text-align:center;}
.main__docs_fond_scroll-menu ul{list-style:none;margin-bottom:35px;}
.main__docs_fond_scroll-menu ul li{display:inline-block;margin-right:45px;}
.main__docs_fond_scroll-menu ul li:last-child{margin-right:0;}
.main__docs_fond_scroll-menu ul li a{font-family:PTSans_Italic,sans-serif;font-size:20px;color:#88a42d;text-decoration:none;}
.main__docs_fond_scroll-menu ul li a:hover{text-decoration:underline;}
.main__docs_fond_links{width:960px;margin:0 auto 50px;}
.main__doc_fond[data-doc]{padding:0 10px;}
.main__doc_fond a{display:block;height:300px;border:1px solid #88a42d;margin-bottom:8px;}
.main__doc_fond[data-doc="1"] a{background:url(../docs/svid_reg_jur_lica.jpg)no-repeat center;background-size:100%;}
.main__doc_fond[data-doc="2"] a{background:url(../docs/svid_reg.jpg)no-repeat center;background-size:100%;}
.main__doc_fond[data-doc="3"] a{background:url(../docs/svid_post_na_uchet.jpg)no-repeat center;background-size:100%;}
.main__doc_fond p{font-family:PTSans-Narrow,sans-serif;font-size:1.125em;text-align:center;}
.main__docs_fond-pdf{text-align:center;}
.main__docs_fond-pdf a:first-child{margin-right:80px;}
.main__docs_fond-pdf a{padding-left:30px;font-family:PTSans_Caption_Bold,sans-serif;font-size:1.125em;color:#597400;position:relative;text-decoration:none;}
.main__docs_fond-pdf a:before{content:url(../images/arrow.png);position:absolute;left:0;top:50%;-ms-transform:translate(0,-50%);transform:translate(0,-50%);}

.main__annual-reports_wrap{padding:85px 15px 95px;background:linear-gradient(to bottom, #f9f3ca 0%, #e8f093 20%, #e8f093 80%, #ffea96 100%);}
.main__annual-reports_wrap h2{font-size:1.875em;display:inline-block;margin-bottom:25px;padding-left:55px;color:#88a42d;text-transform:uppercase;position:relative;}
.main__annual-reports_wrap h2:before{content:url(../images/lapa.png);position:absolute;left:15px;top:50%;-ms-transform:translate(0,-50%);transform:translate(0,-50%);}
.main__annual-reports{width:100%;margin:0 auto 15px;padding:10px 0;background-color:#88a42d;}
.main__annual-report{padding:0 10px;}
.main__annual-report h3{padding-bottom:10px;font-family:PTSans,sans-serif;font-size:1.500em;color:#fff;text-align:center;}
.main__annual-report ul{padding:10px;background-color:#f9ef70;list-style:none;}
.main__annual-report ul li{margin-bottom:10px;}
.main__annual-report ul li:last-child{margin-bottom:0;}
.main__annual-report ul li a img{margin-right:10px;}
.main__annual-report ul li a{font-family:PTSans_Bold,sans-serif;text-decoration:none;color:#597400;}
.main__annual-report ul li a span{border-bottom:1px solid #597400;}
.main__annual-report ul li a span:hover{border-bottom:1px solid transparent;}
.main__annual-reports-pdf{padding-left:23px;}
.main__annual-reports-pdf a{display:inline-block;}
.main__annual-reports-pdf a:first-child{margin-right:90px;}
.main__annual-reports-pdf a img{margin-right:10px;}
.main__annual-reports-pdf a img,
.main__annual-reports-pdf a span{vertical-align:middle;}
.main__annual-reports-pdf a{font-family:PTSans_Caption_Bold,sans-serif;font-size:1.125em;text-decoration:none;color:#597400;}
.main__annual-reports-pdf a span{border-bottom:1px solid #597400;}
.main__annual-reports-pdf a:hover span{border-bottom:1px solid transparent;}

.main__our-team_wrap{padding:0 15px;background-color:#ffea96;}
.main__our-team_wrap h2{font-size:1.875em;display:inline-block;margin-bottom:20px;padding-left:55px;color:#88a42d;text-transform:uppercase;position:relative;}
.main__our-team_wrap h2:before{content:url(../images/lapa.png);position:absolute;left:15px;top:50%;-ms-transform:translate(0,-50%);transform:translate(0,-50%);}
.main__our-team{width:1010px;margin:0 auto;}
.main__our-team div[data-team-person]{padding:20px 17px 0;}
.main__our-team_person{text-align:center;}
.main__our-team_person img{margin-bottom:10px;border:1px solid #88a42d;}
.main__our-team_name{margin-bottom:10px;font-family:PTSans-Narrow,sans-serif;font-size:1.875em;}
.main__our-team_job{font-family:PTSans-Narrow,sans-serif;font-size:1.125em;line-height:22px;}
.main__our-team_job span{display:block;}

.main__history-fond_wrap{height:450px;padding:35px 15px 50px;background:linear-gradient(to bottom, #ffea96 0%, #f9f3ca 20%, #f9f3ca 100%);}
.main__history-fond_wrap h2{font-size:1.875em;display:inline-block;margin-bottom:25px;padding-left:55px;color:#88a42d;text-transform:uppercase;position:relative;}
.main__history-fond_wrap h2:before{content:url(../images/lapa.png);position:absolute;left:15px;top:50%;-ms-transform:translate(0,-50%);transform:translate(0,-50%);}

.main__contacts-requisites_wrap{padding:15px 15px 65px;background:linear-gradient(to bottom, #f9f3ca 0%, #e8f093 30%, #e8f093 100%);}
.main__contacts-requisites_wrap h2{font-size:1.875em;display:inline-block;margin-bottom:35px;padding-left:55px;color:#88a42d;text-transform:uppercase;position:relative;}
.main__contacts-requisites_wrap h2:before{content:url(../images/lapa.png);position:absolute;left:15px;top:50%;-ms-transform:translate(0,-50%);transform:translate(0,-50%);}
.main__contacts-requisites{margin:0;}
.main__contacts-requisites .main__contacts,
.main__contacts-requisites .main__requisites{font-size:1.125em;}
.main__contacts-requisites .main__contacts > div:first-child,
.main__contacts-requisites .main__requisites > div:first-child{margin-bottom:25px;}
.main__contacts-requisites .main__contacts p,
.main__contacts-requisites .main__requisites p{margin-bottom:6px;}
.main__contacts-requisites .main__contacts .title,
.main__contacts-requisites .main__requisites .title{font-family:PTSans_Bold,sans-serif;}
.main__contacts-requisites .main__contacts a{display:block;color:#010101;text-decoration:none;margin-bottom:6px;}
.main__contacts-requisites .main__contacts a:hover{text-decoration:underline;}

/*Хочу помочь*/
.main__want-help_wrap h2{font-size:1.875em;display:inline-block;margin-bottom:25px;padding-left:40px;color:#88a42d;text-transform:uppercase;position:relative;}
.main__want-help_wrap h2:before{content:url(../images/lapa.png);position:absolute;left:0;top:50%;-ms-transform:translate(0,-50%);transform:translate(0,-50%);}
.main__want-help_wrap .container{padding:0;}
.main__want-help_wrap .row{margin:0;}
.main__want-help_button-block{margin:20px 0;text-align:justify;text-align-last:justify;}
.main__want-help_button-block a{display:inline-block;margin-bottom:10px;padding:15px;border:2px solid #f9ef70;border-radius:9px;text-align:center;text-align-last:inherit;font-family:PTSans_Caption_Bold,sans-serif;font-size:1.375em;color:#fff;text-transform:uppercase;text-decoration:none;}
.main__want-help_description{padding:30px 0;}
.main__want-help_description_images{width:25%;text-align:center;}
.main__want-help_description_images,
.main__want-help_description_text{display:table-cell;vertical-align:middle;}
.main__want-help_description img{width:86%;vertical-align:middle;}
.main__want-help_description p{margin-bottom:18px;}
.main__want-help_description p:last-child{margin-bottom:0;}
.main__want-help_description a{font-family:PTSans_Bold,sans-serif;color:#88a42d;}
.main__want-help_online-pay,
.main__want-help_sberbank,
.main__want-help_bank,
.main__want-help_yandex-money,
.main__want-help_sms{padding:30px 15px;}
.main__want-help_online-pay h2,
.main__want-help_sberbank h2,
.main__want-help_bank h2,
.main__want-help_yandex-money h2,
.main__want-help_sms h2{margin-bottom:30px;}
.main__want-help_yandex-money iframe{display:block;}


@media (min-width:1250px){
    .container{width:1250px;}
}
@media (min-width: 768px){
    .header__menu.navbar-nav{padding-right:0;float:right;}
}
@media screen and (max-width:1249px){
    .container{width:100%;padding:0 15px;}
    .row{margin:0;}
    .row.main__annual-reports{margin-bottom:15px;}

    .main__slider{height:auto;padding-bottom:20px;}

    .main__want-help_button-block,
    .main__want-help_description{padding-left:15px;padding-right:15px;}
}
@media screen and (max-width:1200px){
    .header__menu.navbar-nav{padding-right:15px;}
}
@media screen and (max-width:1199px){
    .header .container{width:100%;padding:0;}
    .header__logo_img{margin-left:15px;}
    .header__menu_item{margin-right:0;}
    .header__menu.navbar-nav>li>a{padding-right:0;}
    .header__menu_item{margin-left:8px;}
    .header__menu .header__menu_item.header__menu_item-bottom a{width:auto;padding:0 10px;font-size:10px;}

    .main__slider_slider .slick-slide img{width:80%;}
    .main__slider_slider .slick-prev{left:10px;}
    .main__slider_slider .slick-next{right:10px;}
}
@media (max-width:1100px){
    .main__want-help_button-block{text-align:left;text-align-last:left;}
}
@media (max-width:1010px){
    .main__our-team{width:100%;}
    .main__docs_fond_links{width:100%;}
}
@media screen and (max-width:940px) and (min-width:768px){
    .header__menu.navbar-nav>li>a{font-size:16px;}
}
@media screen and (max-width:992px){
    .main__docs_fond_scroll-menu ul li{margin-right:10px;}
    .main__docs_fond_scroll-menu ul li:last-child{margin-right:0;}
}
@media screen and (max-width:830px){
    .main__annual-reports-pdf{padding-left:0;}
    .main__annual-reports-pdf a{margin-right:0;margin-bottom:10px;}
    .main__annual-reports-pdf a:last-child{margin-bottom:0;}
}
@media screen and (max-width:768px){
    .header__menu_wrap{height:100px;}
    #bs-example-navbar-collapse-1{width:100%;margin:0;padding:15px;background-color:#88a42d;position:absolute;top:100px;right:0;z-index:1;}
    .header__menu{width:100%;margin:0;padding:15px;}
    .header.header__scroll #bs-example-navbar-collapse-1{top:75px;}
    .navbar-toggle{margin-top:34px;}
    .header.header__scroll .navbar-toggle{margin-top:22px;}
    .header .header__menu_item{margin-bottom:8px;}
    .header.header__button_show .header__menu_item[data-menu_item],
    .header__button_show .header__menu_item-bottom{display:block;}
    .header__button_show .header__menu_item-bottom{margin-bottom:8px;margin-top:0;}
    .header__button_show .header__menu_item-bottom a{display: inline-block;}

    .main__slider .navbar-collapse.collapse{float:none;position:absolute;right:0;box-shadow:inset 0 0 191px 100px rgba(255,181,64,1);width:100%;padding-right:100px;z-index:5;}
    .main__slider .navbar-collapse.collapse li{margin-right:0;margin-bottom:8px;}
    .main__slider .navbar-collapse.collapse li a{color:#fff;}

    .main__slider_buttons div[class*='col']:first-child{padding-right:0;text-align:center;}
    .main__slider_buttons div[class*='col']:last-child{padding-left:0;text-align:center;}

    .main__social_vidgets div[class*='col']:first-child{padding-bottom:20px;padding-right:0;text-align:center;}
    .main__social_vidgets div[class*='col']:last-child{padding-left:0;text-align:center;}

    .main__need-help_desc{width:100%;}

    .footer{height:auto;padding-bottom:20px;}
    .footer div[class*='col']{padding-left:25px;}
    .footer__phones{text-align:left;}

    .main__contacts-requisites .main__contacts{margin-bottom:20px;}
}
@media screen and (max-width:660px){
    .main__docs_fond_scroll-menu{text-align:left;}
    .main__docs_fond_scroll-menu ul li{display:block;margin-right:0;margin-bottom:8px;}
    .main__docs_fond_scroll-menu ul li:last-child{margin-bottom:0;}
}
@media screen and (max-width:640px){
    .want_help{display:none;}
    .main__slider_slider .slick-prev, .main__slider_slider .slick-next{display:none!important;}

    .main__need-help_direct img{border-radius:10px;width:100%;}

    .main__docs_fond-pdf{padding-top:20px;text-align:left;}
    .main__docs_fond-pdf a{display:block;margin-right:0;margin-bottom:10px;}
    .main__docs_fond-pdf a:last-child{margin-bottom:0;}

    .main__want-help_description_images,
    .main__want-help_description_text{display:block;width:100%;}
    .main__want-help_description_images{margin-bottom:30px;}
    .main__want-help_description_images img{width:auto;}
}
@media screen and (max-width:639px){
    .main__slider_btn{width:auto;font-size:16px;}
}
@media screen and (max-width:400px){
    .header__logo_img{width:220px;margin:10px;}
    .main__slider_btn{font-size:12px;}

    .main__our-team_person img{width:100%;}

}
@media screen and (max-width:359px){
    .main__slider_btn{font-size:10px;}
}