<!-- Header -->%Header
<div class="main__want-help_wrap">
                <div class="container">
                    <div class="row">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                            <span class="sr-only">Информация</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                            <ul class="main__menu nav navbar-nav">
                                <li class="main__menu_item">
                                    <a href="/about/" title="" class="main__menu_link">О Фонде</a>
                                </li>
                                <li class="main__menu_item">
                                    <a href="#" title="" class="main__menu_link">Отчеты</a>
                                </li>
                                <li class="main__menu_item">
                                    <a href="#" title="" class="main__menu_link">Новости</a>
                                </li>
                                <li class="main__menu_item">
                                    <a href="#" title="" class="main__menu_link">Контакты</a>
                                </li>
                                <li class="main__menu_item">
                                    <a href="#" title="" class="main__menu_link">Договор</a>
                                </li>
                                <li class="main__menu_item">
                                    <a href="#" title="" class="main__menu_link">Акции</a>
                                </li>
                                <li class="main__menu_item">
                                    <a href="#" title="" class="main__menu_link">Вопросы и ответы</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="main__want-help_button-block">
                        <a href="#" title="" class="btn_orange">Онлайн оплата</a>
                        <a href="#" title="" class="btn_orange">Сбербанк Онлайн</a>
                        <a href="#" title="" class="btn_orange">Банковский перевод</a>
                        <a href="#" title="" class="btn_orange">Яндекс.Деньги</a>
                        <a href="#" title="" class="btn_orange">SMS</a>
                    </div>
                    <div class="row main__want-help_description">
                        <div class="main__want-help_description_images">
                            <img src="/web/images/cat.png" alt="" />
                        </div>
                        <div class="main__want-help_description_text">
                            <p>
                                Самый простой и, пожалуй, самый эффективный способ помочь бездомным животным – это сделать пожертвование. В настоящее время мы сотрудничаем с волонтерами, кураторами и мини-приютами Москвы, Волгограда, Санкт-Петербурга, Пензы и Нижнего Новгорода. География нашей деятельности неуклонно расширяется, равно как и постоянно растет количество людей, обратившихся к нам за помощью для своих подопечных "бездомышей". Даже самое небольшое пожертвование способно сотворить чудо в жизни одного маленького "хвостика". Возможно, именно благодаря Вашему участию нам удастся собрать сумму, необходимую для операции или лечения очередного хвостатого бедолаги, оплатить его пребывание в стационаре или на передержке или же купить дорогой, но, порой, жизненно необходимый лечебный корм. Все пожертвования бездомным животным, сделанные через наш сайт, направляются на нужды наших подопечных и на реализацию проектов и программ Фонда. С отчетами о проделанной работе можно ознакомиться в соответствующем разделе сайта.
                            </p>
                            <p>Друзья, спасибо, что не остаетесь равнодушными к бедам наших братьев меньших!</p>
                            <p>
                                Совершая пожертование, Вы принимаете <a href="#" title="">условия настоящей публичной оферты договора о добровольном пожертвовании.</a>
                            </p>
                        </div>
                    </div>
                    <div class="row main__want-help_online-pay">
                        <h2>Онлайн оплата</h2>
                    </div>
                    <div class="row main__want-help_sberbank">
                        <h2>Сбербанк онлайн</h2>
                        <p>Зайдите в раздел "Переводы и платежи" в Сбербанк Онлайн или на терминале.</p>
                    </div>
                    <div class="row main__want-help_bank">
                        <h2>Банковский перевод по реквизитам</h2>
                    </div>
                    <div class="row main__want-help_yandex-money">
                        <h2>Яндекс.деньги</h2>
                        <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/bank.xml?account=410011434703304&amp;quickpay=bank&amp;payer-type=legal&amp;recipient-name=%D0%91%D0%BB%D0%B0%D0%B3%D0%BE%D1%82%D0%B2%D0%BE%D1%80%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9+%D0%A4%D0%BE%D0%BD%D0%B4+%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D0%B8+%D0%B6%D0%B8%D0%B2%D0%BE%D1%82%D0%BD%D1%8B%D0%BC+%22%D0%92%D1%81%D0%B5%D0%BC+%D0%9C%D0%B8%D1%80%D0%BE%D0%BC%22&amp;recipient-inn=9715258950&amp;recipient-kpp=771501001&amp;recipient-bik=044525225&amp;recipient-account=40703810038000005112&amp;recipient-kbk=&amp;recipient-okato=&amp;writer=seller&amp;targets=%D0%91%D0%BB%D0%B0%D0%B3%D0%BE%D1%82%D0%B2%D0%BE%D1%80%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5+%D0%BF%D0%BE%D0%B6%D0%B5%D1%80%D1%82%D0%B2%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5&amp;targets-hint=&amp;default-sum=300&amp;button-text=03&amp;successURL=" width="471" height="180"></iframe>
                    </div>
                    <div class="row main__want-help_sms">
                        <h2>SMS</h2>
                    </div>
                </div>
            </div><!-- /Header -->

<!-- Footer -->%Footer<!-- /Footer -->