<script src="/web/js/admin_geocoder.js" type="text/javascript"></script>
<?=( $warnText ? "<div class='warnText'>$warnText</div>" : NULL )?>
<form name='adminForm' id='adminForm' class='nc-form' enctype='multipart/form-data' method='post' action='<?= $SUB_FOLDER ?><?= $HTTP_ROOT_PATH ?>add.php'>
<div id='nc_moderate_form'>
<div class='nc_clear'></div>
<input name='admin_mode' type='hidden' value='<?= $admin_mode ?>' />
<?= $nc_core->token->get_input() ?>
<input name='catalogue' type='hidden' value='<?= $catalogue ?>' />
<input name='cc' type='hidden' value='<?= $cc ?>' />
<input name='sub' type='hidden' value='<?= $sub ?>' /><input name='posting' type='hidden' value='1' />
<input name='curPos' type='hidden' value='<?= $curPos ?>' />
<input name='f_Parent_Message_ID' type='hidden' value='<?= $f_Parent_Message_ID ?>' />
<input name='f_coords' type='hidden' />
<?= nc_form_moderate('add', $admin_mode, 0, $systemTableID, $current_cc, (isset($f_Checked) ? $f_Checked  : null), $f_Priority , $f_Keyword, $f_ncTitle, $f_ncKeywords, $f_ncDescription ) ?>
</div>

<div class='nc-field nc-field-type-string'><?= nc_string_field('name', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>

<div class='nc-field nc-field-type-select'><?= nc_list_field('animal', "", ($class_id ? $class_id : $classID), 1) ?></div>

<div class='nc-field nc-field-type-select'><?= nc_list_field('sex', "", ($class_id ? $class_id : $classID), 1) ?></div>

<div class='nc-field nc-field-type-select'><?= nc_list_field('age', "", ($class_id ? $class_id : $classID), 1) ?></div>

<div class='nc-field nc-field-type-text'><?= nc_text_field('diagnosis', "", ($class_id ? $class_id : $classID), 1) ?></div>

<div class='nc-field nc-field-type-multiselect'><?= nc_multilist_field('color', "", "", ($class_id ? $class_id : $classID), 1) ?></div>

<div class='nc-field nc-field-type-multiselect'><?= nc_multilist_field('wool', "", "", ($class_id ? $class_id : $classID), 1) ?></div>

<p class="header">Кликните по карте, чтобы узнать адрес</p>
<div id="map" style="width:800px;height:500px;"></div>
<div class='nc-field nc-field-type-string'><?= nc_string_field('address', "maxlength='255' size='80'", ($class_id ? $class_id : $classID), 1) ?></div>
<div class='nc-field nc-field-type-select'><?= nc_list_field('help', "", ($class_id ? $class_id : $classID), 1) ?></div>
<div class='nc-field nc-field-type-select'><?= nc_list_field('status', "", ($class_id ? $class_id : $classID), 1) ?></div>
<div class='nc-field nc-field-type-file'><?= nc_file_field('image', "size='50'", ($class_id ? $class_id : $classID), 1) ?></div>

<div class='nc-field nc-field-type-multifile'><?= $f_images->form() ?></div>

<div class='nc-field nc-field-type-text'><?= nc_text_field('preview', "", ($class_id ? $class_id : $classID), 1) ?></div>

<div class='nc-field nc-field-type-text'><?= nc_text_field('text', "", ($class_id ? $class_id : $classID), 1) ?></div>
<div class='nc-field nc-field-type-datetime'><?= nc_date_field('date', "", ($class_id ? $class_id : $classID), 1) ?></div>

<? if (!$AUTH_USER_ID && $current_cc['UseCaptcha'] && $MODULE_VARS['captcha']) { ?><?= nc_captcha_formfield() ?><br/><br/><?= NETCAT_MODERATION_CAPTCHA ?> (*):<br/><input type='text' name='nc_captcha_code' size='10'><br/><br/><? } ?>
<div class='nc-hint nc-hint-required-fields'><?= NETCAT_MODERATION_INFO_REQFIELDS ?></div>
<?= nc_submit_button(NETCAT_MODERATION_BUTTON_ADD) ?>
</form>