<!-- FormPrefix --><?= $f_AdminCommon; ?><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<div data-slide="<?= $f_RowNum + 1 ?>">
  <img src="/pic.php?w=275&h=275&file=<?= $f_image ?>" alt="" class="main__need-help_img" />
  <div class="main__need-help_desc">
    <p>
        <?= $f_preview ?>
    </p>
    <span>Далее>></span>   
  </div>
</div><!-- /RecordTemplate -->

<!-- FormSuffix --><!-- /FormSuffix -->