<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?= $f_AdminButtons; ?>
<div data-slide="<?= $f_RowNum + 1 ?>">
  <img src="/pic.php?w=275&h=275&file=<?= $f_image ?>" alt="" class="main__need-help_img" />
  <div class="main__need-help_desc">
    <p>
        <?= $f_preview ?>
    </p>
    <span>Далее>></span>   
  </div>
</div>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>