<div class='nc_full nc_news'>
    <h1><?= nc_edit_inline('NewsTitle', $f_RowID, $cc); ?></h1>
    <div class='nc_full_text'><?= nc_edit_inline('Full_text', $f_RowID, $cc); ?></div>

    <?
    if ($cc_settings['DateStyle'] != 'disable') {
        ?>
        <div class='nc_datetime'>
        <?
        if ($cc_settings['DateStyle'] != 'time') {
            ?>
            <span class='nc_date'>
            <?= $f_Date_day . "." . $f_Date_month . "." . $f_Date_year; ?>
            </span>
            <?
        }

        if ($cc_settings['DateStyle'] != 'date') {
            ?>
            <span class='nc_time'><?= $f_Date_hours . ":" . $f_Date_minutes; ?></span>
            <?
        }
        ?>
        </div>
        <?
    }

    if ($f_SourceTitle || $f_SourceLink) {
        ?>
        <br />
        <div class='nc_source'>
            <span>Источник: </span>
            <?
            if ($f_SourceTitle && $f_SourceLink) {
                ?>
                <a href='<?= $f_SourceLink; ?>'><?= $f_SourceTitle; ?></a>
                <?
            } else {
                if (!$f_SourceLink) {
                    echo $f_SourceTitle;
                } else {
                    ?>
                    <a href='<?= $f_SourceLink; ?>'><?= $f_SourceLink; ?></a>
                    <?
                }
            }
        ?>
        </div>
        <?
    }
    echo $cc_settings['YandexPodelitsa'] ? $nc_core->widget->show('netcat_yandex_share') : "";
    ?>
</div>
