<!-- FormPrefix --><?= $f_AdminCommon; ?>
<!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<? if(!empty($type)): ?>
    <a href="<?= $f_file ?>" title=""><?= $f_name ?> (pdf)</a>
<? else: ?>
    <div class="col-sm-4 col-xs-12 main__doc_fond" data-doc="<?= $f_RowNum + 1 ?>">
                    <a href="<?= $f_file ?>" title=""></a>
                    <p><?= $f_name ?></p>
                </div>
<? endif ?><!-- /RecordTemplate -->

<!-- FormSuffix --><!-- /FormSuffix -->