<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?= $f_AdminButtons; ?>
<? if(!empty($type)): ?>
    <a href="<?= $f_file ?>" title=""><?= $f_name ?> (pdf)</a>
<? else: ?>
    <div class="col-sm-4 col-xs-12 main__doc_fond" data-doc="<?= $f_RowNum + 1 ?>">
                    <a href="<?= $f_file ?>" title=""></a>
                    <p><?= $f_name ?></p>
                </div>
<? endif ?>

<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>