<!-- FormPrefix --><?echo $f_AdminCommon; ?>
<h2><?= $current_sub['Subdivision_Name']; ?></h2>
<div class="products"><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<div class="product-preview">
    <a href="<?= $fullLink; ?>" class="image"><img src="<?= $f_Image_url; ?>" alt=""></a>
    <a href="<?= $fullLink; ?>"><span class="title"><?= $f_Name; ?></span></a>
    <div class="description"><?= nc_edit_inline('Description', $f_RowID, $cc); ?></div>
</div><!-- /RecordTemplate -->

<!-- FormSuffix --></div><!-- /FormSuffix -->