<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<div class='nc_row'>
    <? echo $f_AdminButtons; ?>
    <h3><? echo nc_edit_inline('Titl', $f_RowID, $cc); ?></h3>
    <? if ($f_Adress) {
        ?><div class='nc_item'><span class='nc_title'>Адрес: </span><span class='nc_value'><? echo nc_edit_inline('Adress', $f_RowID, $cc); ?></span></div><?
}
    ?><div class='nc_item'><span class='nc_title'>Телефон: </span><span class='nc_value'><? echo nc_edit_inline('PhoneNumber', $f_RowID, $cc); ?></span></div><?
    if ($f_Email) {
        ?><div class='nc_item'><span class='nc_title'>Эл. почта: </span><span class='nc_value'><a href='mailto:<? echo $f_Email ?>'><? echo $f_Email ?></a></span></div><?
}
if ($f_Description) {
        ?><div class='nc_description'>Пояснение (как добраться):<? echo nc_edit_inline('Description', $f_RowID, $cc); ?></div><?
}
if ($f_Plan) {
        ?><br /><?
    } ?>
    
    <div id="company-map" style="width: 100%; height: 350px; margin-top: 30px;"></div>
    <div style='clear:both'></div>
</div>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>