<!-- FormPrefix --><?echo $f_AdminCommon; ?>
<h2><?= $current_sub['Subdivision_Name']; ?></h2>
<div class="products"><!-- /FormPrefix -->

<!-- RecordTemplate -->
<div class="product-preview">
  <?= $f_AdminButtons; ?>
  <a href="<?=$fullLink?>" class="image"><img src="<?= $f_Image_url ?>" alt="<?= $f_Name ?>"></a>
  <a href="<?=$fullLink?>"><span class="title"><?= $f_Name ?></span></a>
  <div class="description"><?= nc_edit_inline('Description', $f_RowID, $cc); ?></div>
  <?
  if (nc_module_check_by_keyword('requests')) {
    $button_id = $nc_block_id . "-button-" . $f_RowID;
    echo '<a href="#" id="' . $button_id . '">Заказать</a>';
    echo nc_requests_form::get_instance($cc, 'default')->get_popup_script($button_id, array(
        'Source_Object_ID' => $f_RowID,
        'Comment' => $f_Name,
    ));
  }
  ?>
</div>
<!-- /RecordTemplate -->

<!-- FormSuffix --></div>  <!-- /FormSuffix -->