<? echo $f_AdminCommon;?>
<h2><?= nc_edit_inline('Name', $f_RowID, $cc); ?></h2>
<p class="lead"><?= nc_edit_inline('Description', $f_RowID, $cc); ?></p>

<div class="text">
<p><img src="<?= $f_Image_url ?>"></p>

<?
if ($f_Details) {
    echo nc_edit_inline('Details', $f_RowID, $cc); } 
?>
</div>

<? if (nc_module_check_by_keyword('requests')): ?>
    <?= nc_requests::make_form_popup_button($cc, 'default', array(
            'Source_Object_ID' => $f_RowID,
            'Comment' => $f_Name,
    )); ?>
<? endif; ?>
