<!-- FormPrefix --><!-- /FormPrefix -->

<!-- RecordTemplate --><div class="product-preview">
  <a href="<?=$fullLink?>" class="image"><img src="<?= $f_Image_url ?>" alt="<?= $f_Name ?>"></a>
  <a href="<?=$fullLink?>"><span class="title"><?= $f_Name ?></span></a>
  <div class="price"><?= $f_Price?> <?= $f_Currency?></div>
  <div class="description"><?= nc_edit_inline('Description', $f_RowID, $cc); ?></div>
</div><!-- /RecordTemplate -->

<!-- FormSuffix --><!-- /FormSuffix -->