<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<div class="product-preview">
  <a href="<?=$fullLink?>" class="image"><img src="<?= $f_Image_url ?>" alt="<?= $f_Name ?>"></a>
  <a href="<?=$fullLink?>"><span class="title"><?= $f_Name ?></span></a>
  <div class="price"><?= $f_Price?> <?= $f_Currency?></div>
  <div class="description"><?= nc_edit_inline('Description', $f_RowID, $cc); ?></div>
</div>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>