<?php if ($cc_settings['DisplayType'] == 'popup'): ?>
<div class="callback-btn-wrap"><a href="#" class="callback_btn">Заказать обратный звонок</a></div>
<style>
    #callbackForm .window-bg {
        background: none repeat scroll 0 0 #444;
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 998;
    }
    #callbackForm .modal {
        background: none repeat scroll 0 0 #fff;
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
        left: 50%;
        top: 50%;
        z-index: 999;
        width: 300px;
        height: auto;
        padding: 20px;
        color: #000;
    }
    #callbackForm .close-modal {
        position: absolute;
        top: 0px;
        right: 10px;
        font-size: 12px;
    }

    #callbackForm .modal .nc-field{
        margin-bottom: 3px;
    }
    #callbackForm .modal .nc-field input{
        width: 299px;
    }
</style>
<script type="text/javascript">
    $nc(document).ready(function () {
        $nc.fn.center = function () {
            this.css("position", "absolute");
            this.css("top", ($nc(window).height() - this.height()) / 2 + $nc(window).scrollTop() + "px");
            this.css("left", ($nc(window).width() - this.width()) / 2 + $nc(window).scrollLeft() + "px");
            return this;
        };
        function showCallbackModal(modal_id) {
            $nc('#' + modal_id + ' .modal').css({opacity: 0});
            $nc('#' + modal_id).show();
            $nc('#callbackForm .window-bg').click(function (e) {
                e.preventDefault();
                $nc('#' + modal_id).hide();
            });
            $nc('#callbackForm .close-modal').click(function (e) {
                e.preventDefault();
                $nc('#' + modal_id).hide();
            });
            $nc('#' + modal_id + ' .modal').animate({opacity: 1}, 'easeOutQuart');
            $nc('#' + modal_id + ' .modal').center();

        }
        $nc('.callback_btn').click(function (e) {
            e.preventDefault();
            showCallbackModal('callbackForm');

        });
    });
</script>
<?php endif; ?>
<style>
    .callback-contain {color: #000; background-color: #fff;}
</style>
<script type="text/javascript">
    $nc(document).ready(function () {
        $nc("#callbackForm form").submit(function () {
            $nc('.callback-submit-btn').attr('disabled', 'disabled');
            var current_form = $(this);
            $nc.ajax({
                type: "POST",
                url: current_form.attr('action'),
                data: current_form.serialize(), // serializes the form's elements.
            })
                    .done(function (msg) {
                        $nc('#callbackForm .callback-contain').html(msg);
                        return false;
                    });
            ;
            return false;
        });
    });
</script>    
<div id="callbackForm" class="callback-form-wrap"<?php if ($cc_settings['DisplayType'] == 'popup'): ?> style="display: none;"<?php endif;?>>
     <?php if ($cc_settings['DisplayType'] == 'popup'): ?><div class="window-bg"></div><?php endif;?>
    <div class="<?php if ($cc_settings['DisplayType'] == 'popup'): ?> modal<?php endif;?>">
        <?php if ($cc_settings['DisplayType'] == 'popup'): ?>
        <a class="close-modal" href="#">Закрыть</a>
        <?php endif;?>
        <div class="callback-contain">
            <?php if (!empty($cc_settings['TextBeforeForm'])): ?>
            <div class="callback-before-text"><?=$cc_settings['TextBeforeForm']?></div>
            <?php endif; ?>
            <?=( $warnText ? "<div class='warnText'>$warnText</div>" : NULL )?>
            <form name='adminForm' id='adminForm' class='nc-form' enctype='multipart/form-data' method='post' action='<?= $SUB_FOLDER ?><?= $HTTP_ROOT_PATH ?>add.php'>
                <div id='nc_moderate_form'>
                    <div class='nc_clear'></div>
                    <input name='admin_mode' type='hidden' value='<?= $admin_mode ?>' />
                    <?= $nc_core->token->get_input() ?>
                    <input name='catalogue' type='hidden' value='<?= $catalogue ?>' />
                    <input name='cc' type='hidden' value='<?= $cc ?>' />
                    <input name='sub' type='hidden' value='<?= $sub ?>' /><input name='posting' type='hidden' value='1' />
                    <input name='curPos' type='hidden' value='<?= $curPos ?>' />
                    <input name='f_Parent_Message_ID' type='hidden' value='<?= $f_Parent_Message_ID ?>' />
                    <?= nc_form_moderate('add', $admin_mode, 0, $systemTableID, $current_cc, (isset($f_Checked) ? $f_Checked  : null), $f_Priority , $f_Keyword, $f_ncTitle, $f_ncKeywords, $f_ncDescription ) ?>
                </div>
                <div class='nc-field'><?= nc_string_field('Name', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
                <div class='nc-field'><?= nc_string_field('Phone', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
                <? if (!$AUTH_USER_ID && $current_cc['UseCaptcha'] && $MODULE_VARS['captcha']) { ?><?= nc_captcha_formfield() ?><br/><br/><?= NETCAT_MODERATION_CAPTCHA ?> (*):<br/><input type='text' name='nc_captcha_code' size='10'><br/><br/><? } ?>
                <input type="submit" value="Отправить" class="callback-submit-btn">
            </form>
        </div>
    </div>
</div>