<!-- FormPrefix --><?php

if (!$inside_admin) {
    echo $addForm;
}

?><!-- /FormPrefix -->

<!-- RecordTemplate --><?php if ($inside_admin): ?>
<?= $f_AdminButtons ?>
    <div class='nc_item'>ФИО: <?=$f_Name ?></div>
    <div class='nc_item'>Телефон: <?=$f_Phone ?></div>
<?php endif; ?><!-- /RecordTemplate -->

<!-- FormSuffix --><!-- /FormSuffix -->