<?/* Служебная часть */
for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {
    if($fetch_row[$f_RowNum] instanceof Iterator) {
        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");
    } else {
        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");
    }
    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {
        extract($value);
    }
    eval($cc_env["convert2txt"]);
    ob_start();
/* Конец служебной части */?>

<tr>
            <td><input type="checkbox" name="selected_request_ids[]" value="<?= $f_RowID ?>"></td>
            <td><?= $f_Created_day ?>.<?= $f_Created_month ?>.<?= $f_Created_year ?></td>
            <td>
                <a onclick="parent.nc_form(this.href); return false;" href="<?= nc_core('SUB_FOLDER'); ?>/netcat/message.php?inside_admin=1&catalogue=<?= $catalogue ?>&sub=<?= $sub; ?>&cc=<?= $cc; ?>&message=<?= $f_RowID; ?>">
                    <?= $f_RowID ?>
                </a>
            </td>
            <td><?= $f_Name ?></td>
            <td><?= $f_Phone ?></td>
            <td><?= $f_Email ?></td>
            <td>
                <?php
                if ($f_Source_Subdivision_ID && $f_Item_ID) {
                    $goods_data = nc_subdivision_goods_data::for_subdivision($f_Source_Subdivision_ID);
                    $item_data = $goods_data->get_item_by_id($f_Item_ID);

                    $is_netshop_item = $goods_data->are_netshop_items();
                    // (a) товар netshop
                    if ($is_netshop_item) {
                        $item = nc_netshop_item::by_id($item_data['Item_Component_ID'], $item_data['Item_ID']);
                        if ($item['Sub_Class_ID']) {
                            $item_name =
                                '<a href="' . nc_object_url($item['Class_ID'], $item['Message_ID']) . '" target="_blank">' .
                                htmlspecialchars(trim($item['FullName'])) .
                                '</a>';
                        }
                        else {
                            $is_netshop_item = false;
                        }
                    }

                    // (б) не товар в netshop (sic, not 'else')
                    if (!$is_netshop_item) {
                        $item_name = $item_data['Name'] . ' ' . $item_data['VariantName'];
                    }

                    echo $item_name . '&nbsp;— ' .
                         $f_Quantity . '&nbsp;' .
                         $item['Units'];
                }
                ?>
            </td>
            <td>
                <?php
                if ($f_Source_Infoblock_ID) {
                    try {
                        echo '<a target="_blank" href="' .
                             nc_folder_url($f_Source_Subdivision_ID) .
                             '#' . $nc_core->sub_class->get_by_id($f_Source_Infoblock_ID, 'EnglishName') .
                             '">' .
                             htmlspecialchars(
                                    $nc_core->subdivision->get_by_id($f_Source_Subdivision_ID, 'Subdivision_Name') . ' / ' .
                                    $nc_core->sub_class->get_by_id($f_Source_Infoblock_ID, 'Sub_Class_Name')
                             ) .
                             '</a>';

                    } catch (Exception $e) {

                    }
                }
                ?>
            </td>
            <td>
                <input type="hidden" name="Checked[<?= $f_RowID ?>]" value="<?= $f_Checked ?>"/>
                <select name="Status[<?= $f_RowID ?>]" data-nc-original="<?= (int)$f_Status_id ?>">
                    <option value="0"><?= NETCAT_MODULE_REQUESTS_REQUEST_NEW ?></option>
                    <? foreach ($statuses as $status) { ?>
                        <option value="<?= $status['RequestStatus_ID'] ?>" <?= $f_Status_id == $status['RequestStatus_ID'] ? 'selected' : '' ?>><?= $status['RequestStatus_Name'] ?></option>
                    <? } ?>
                </select>
            </td>
        </tr>

<?/* Служебная часть */
    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);
}
/* Конец служебной части */?>