*
  box-sizing border-box
  padding 0
  margin 0

@import 'variables'
@import 'typo'

body
  text-size-adjust 100%
  font-family font
  background rgba(255, 255, 255, 1)
  font-size 14px
  line-height 20px
  width auto
  max-width 1250px
  margin 0 auto 0 auto
  padding 35px 40px 50px 40px
#  position relative

  @media latexMobile
    padding 35px 20px 50px 20px


// Шапка
header
  display block
  margin 0 0 20px 0
  position relative

  @media latexMobile
    padding 0

  .left-column
    min-width 300px
    position absolute
    left 0
    top 0
    z-index 100

    @media latexBig
      max-width 220px
      width 220px
      min-width 220px

    @media latexMobile
      position relative


  // Логотип и заголовок
  .logo
    border none
    color black !important
    font-size 0

    img
      display inline-block
      vertical-align top
      height 85px
      border none
      outline none
      margin 0 20px 15px 0

    .text
      display inline-block
      vertical-align top
      font-size 23px
      line-height 25px
      padding 3px 0 0 0px
      font-weight bold
      max-width 300px

      .lt2, .lt3
        font-size 23px
        line-height 25px


  // Контакты в шапке
  .contacts
    position absolute
    top 0
    right 0
    max-width 280px

    @media latexSmall
      position relative
      max-width 100%
      padding 0 0 0 40px

    .phone
      margin 10px 0 0 0
      font-size 20px
      white-space nowrap
      line-height 28px

      .callback
        font-size 14px
        line-height 20px

// Меню
menu
  font-size 0
  margin 0 0 50px 0
  color white
  padding 20px 40px 7px 40px
  border-radius 4px
  background #1B5576
  background-image linear-gradient(-180deg, #3D7EA3 0%, #1B5576 100%)

  li
    display inline-block
    font-size 19px
    padding 0
    margin 0 25px 15px 0

    &.active_li
      a
        border none
        cursor default
        color rgba(255, 255, 255, 0.61) !important
        transition 0s ease

    a
      @extend a.lite


// Промо
.promo
  display block
  border-radius 4px
  position relative
  width auto
  height 360px
  margin 0 0 50px 0
  background-size cover
  background-position center center
  border none
  z-index 50
  transition 0.5s

  @media latexMobile
    display block
    height 300px
    margin 20px 0 50px 0

  span
    display block
    position absolute
    max-width 700px
    bottom 40px
    right -20px
    color white
    font-size 25px
    line-height 30px
    padding 19px 50px 21px 30px
    background #1B5576
    background-image linear-gradient(-180deg, #3D7EA3 0%, #1B5576 100%)
    border-radius 4px 0 0 4px

    @media latexMedium
      font-size 20px
      line-height 25px
      max-width 400px

    @media latexSmall
      width 100%
      max-width 100%
      left 0
      bottom 0
      font-size 18px
      line-height 21px

    .label
      width 20px
      height 20px
      position absolute
      right 0
      bottom -20px
      background-image url('../img/m.png')
      background-size 20px
      background-repeat no-repeat


// Основной контейнер
section
  display block
  position relative
  height auto

  @media latexMobile
    display block

  .left-column
    min-width 300px
    width 300px
    max-width 300px
    position relative
    float left
    left 0
    top 0
    z-index 100

    @media latexBig
      max-width 220px
      width 220px
      min-width 220px

    @media latexMobile
      width 100%
      position relative
      max-width 100%
      padding 0 0 40px 0
      float none

    .submenu
      padding 0 0 50px 0

      li
        display block
        font-size 19px
        padding 0
        margin 0 25px 15px 0

        &.active_li
          a
            border none
            cursor default
            color colorRedActive

        a
          @extend a.dark

  .main
    position relative
    width auto
    overflow hidden
    // margin-left 300px
    z-index 50

    @media latexMobile
      margin 0

    // Основной текст
    .text
      margin 0 0 37px 0

      img
        max-width 100%
        margin 10px 0 15px 0

      p
        padding 0 0 13px 0


// Предпросмотр новостей
.news-preview
  padding 0 30px 30px 0

  @media latexMobile
    padding-bottom 15px

  .date
    color colorGray
    letter-spacing 1px
    font-size 12px
    line-height 12px
    text-transform uppercase
    padding 0 0 5px 0

  .title
    font-size 16px
    line-height 22px !important

  .description
    padding 7px 0 0 0

    @media latexMobile
      display none
      border 0


// Карточки товаров
.products
  padding 5px 0 0 0
  font-size 0

.product-preview
  width 30%
  padding 0 0 30px 0
  margin 0 0 0 5%
  display inline-block
  vertical-align top
  font-size 14px
  line-height 20px

  &:nth-child(3n+1)
    margin-left 0
  
  @media latexMedium
    width 45%
    margin 0 0 0 10%

    &:nth-child(3n+1)
      margin-left 10%
    
    &:nth-child(2n+1)
      margin-left 0
    
  @media latexSmall
    width 100%
    margin 0 !important

  &:nth-child(1)
    margin 0 0 0 0

  a.image
    border none
    padding 0 0 10px 0
    display block

  .title
    &:after
      content ' '
      display block
      width 1px
      height 1px

  img
    max-width 100%
    border none

  .title
    font-size 16px
    line-height 22px !important

  .description
    padding 7px 0 0 0

  .price
    font-weight bold
    display inline-block
    color #D09900
    border 1px solid #D09900
    height 24px
    line-height 22px
    padding 0 8px 0 8px
    border-radius 4px
    margin 7px 0 0 0px


// Бренды
.brend
  padding 15px 0 0 0
  display block

  .list

    .title
      font-size 20px
      line-height 25px
      padding 0 0 8px 0

    .one
      width 45%
      display inline-block
      vertical-align top
      padding 0 0 30px 0

      @media latexSmall
        width 100%
        margin 0 !important

      &:nth-child(even)
        margin 0 0 0 5%


// Подвал
footer
  margin 50px 0 0 0
  color white
  padding 20px 40px 25px 40px
  border-radius 4px
  background #1B5576
  background-image linear-gradient(-180deg, #3D7EA3 0%, #1B5576 100%)

  .one
    display inline-block
    width 45%
    padding 0 0 10px 0
    vertical-align top

    @media latexMobile
      display block
      width 100%
      padding 0 0 23px 0

    &:nth-child(odd)
      margin-right 5%

  @media latexBig
    // margin-left 220px

  @media latexMedium
    display block
    padding 20px 40px 15px 40px

  .phone
    font-size 20px
    line-height 28px

  a
    @extend a.lite


Дополнение для текстовых страниц
.mode_second
  position absolute

  @media latexMobile
    max-width 500px
    width 500px
    display block

// .grid
//   .one
//     width 45%
//     display inline-block
//     vertical-align top
//     padding 0 0 30px 0
//
//     @media latexSmall
//       width 100%
//       margin 0 !important
//
//     .date
//       @extend .news-preview .date
//
//     &:nth-child(even)
//       margin 0 0 0 5%
//
//     .title
//       @extend .brend .list .title
//
//     a.image
//       border none
//
//     img
//       @extend .product-preview img
//       margin 10px 0 10px 0
//
//     .price
//       @extend .product-preview .price
//       margin 5px 0 9px 0px

.good-page
  .grid
    padding-bottom 20px

    .one
      padding 0

      .price
        font-size 18px
        height 30px
        line-height 28px
        margin-bottom 10px

.tpl-theme-table-price--tr 
  td 
    padding 5px 20px 5px 0
  td:last-child
    padding-right: 0

.tpl-theme-table--price h2 
  padding 15px 0 0

@import 'theme'
