.tpl-theme-azure
  body
    & > menu
      background #1D62F0
      background-image linear-gradient(-180deg, #1AD6FD 0%, #1D62F0 100%)

    & > slider .promo span
      background-image linear-gradient(-180deg, #1AD6FD 0%, #1D62F0 100%)

    & > footer
      background #1D62F0
      background-image linear-gradient(-180deg, #1AD6FD 0%, #1D62F0 100%)


.tpl-theme-purple
  body
    & > menu
      background #5856D6
      background-image linear-gradient(-180deg, #C644FC 0%, #5856D6 100%)

    & > slider .promo span
      background-image linear-gradient(-180deg, #C644FC 0%, #5856D6 100%)

    & > footer
      background #5856D6
      background-image linear-gradient(-180deg, #C644FC 0%, #5856D6 100%)


.tpl-theme-green
  body
    & > menu
      background #27761B
      background-image linear-gradient(-180deg, #74BF56 0%, #27761B 100%)

    & > slider .promo span
      background-image linear-gradient(-180deg, #74BF56 0%, #27761B 100%)

    & > footer
      background #27761B
      background-image linear-gradient(-180deg, #74BF56 0%, #27761B 100%)


.tpl-theme-sun
  body
    & > menu
      background #E8BA00
      color black
      background-image linear-gradient(-180deg, #FFEC9F 0%, #E8BA00 100%)

      a
        @extend a.dark
        &:hover, &.hover
          color #d04000 !important
          border-color rgba(208, 64, 0, .5) !important
          transition 0s ease !important

    & > slider .promo span
      color black
      background-image linear-gradient(-180deg, #FFEC9F 0%, #E8BA00 100%)

    & > footer
      color black
      background #E8BA00
      background-image linear-gradient(-180deg, #FFEC9F 0%, #E8BA00 100%)

      .one
        a
          @extend a.dark
          &:hover, &.hover
            color #d04000 !important
            border-color rgba(208, 64, 0, .5) !important
            transition 0s ease !important

      a
        @extend a.dark
        &:hover, &.hover
          color #d04000 !important
          border-color rgba(208, 64, 0, .5) !important
          transition 0s ease !important


.tpl-theme-scarlet
  body
    & > menu
      background #FF2A68
      background-image linear-gradient(-180deg, #FF5E3A 0%, #FF2A68 100%)

    & > slider .promo span
      background-image linear-gradient(-180deg, #FF5E3A 0%, #FF2A68 100%)

    & > footer
      background #FF2A68
      background-image linear-gradient(-180deg, #FF5E3A 0%, #FF2A68 100%)


.tpl-theme-sand
  body
    & > menu
      background #E4DDCA
      color black
      background-image linear-gradient(-180deg, #D6CEC3 0%, #E4DDCA 100%)

      a
        @extend a.dark
        &:hover, &.hover
          color #d04000 !important
          border-color rgba(208, 64, 0, .5) !important
          transition 0s ease !important

    & > slider .promo span
      color black
      background-image linear-gradient(-180deg, #D6CEC3 0%, #E4DDCA 100%)

    & > footer
      color black
      background #E4DDCA
      background-image linear-gradient(-180deg, #D6CEC3 0%, #E4DDCA 100%)

      .one
        a
          @extend a.dark
          &:hover, &.hover
            color #d04000 !important
            border-color rgba(208, 64, 0, .5) !important
            transition 0s ease !important

      a
        @extend a.dark
        &:hover, &.hover
          color #d04000 !important
          border-color rgba(208, 64, 0, .5) !important
          transition 0s ease !important
