h1
  font-size 35px
  line-height 38px
  padding 0 0 15px 0

h2
  font-size 23px
  line-height 28px
  padding 0 0 15px 0

a
  padding-top .6em

a
  color #0072ba
  text-decoration none
  border-bottom 1px solid rgba(0, 114, 186, .5)
  transition 0.4s ease

  &.pseudo
    border-bottom-style dashed

  &:hover, &.hover
    color #d04000
    border-color rgba(208, 64, 0, .5)
    transition 0s ease

  &.dark
    color rgba(0, 0, 0, 1)
    border-bottom 1px solid rgba(0, 0, 0, .5)

    &:hover, &.hover
      color #d04000
      border-color rgba(208, 64, 0, .5)
      transition 0s ease

  &.lite
    color rgba(255, 255, 255, 1)
    border-bottom 1px solid rgba(255, 255, 255, .5)

    &:hover, &.hover
      color rgba(242, 242, 1, 1) !important
      border-color rgba(242, 242, 1, .5) !important
      transition 0s ease

a:visited.hover
  color #d04000
  border-color rgba(208, 64, 0, .5)
  transition 0s ease

ul, li
  list-style none

p.lead
  font-size 17px
  line-height 22px


.clear
  clear both

// Специальные стили для Неткэта
.nc-navbar
  a
    border none

.nc_datetime
  color colorGray
  letter-spacing 1px
  font-size 12px
  line-height 12px
  text-transform uppercase
  padding 10px 0 5px 0
